# Copy paste .env.example -> .env

# YOUR DB_URL HERE
DATABASE_URL=

# YOUR ACCESS TOKEN DETAILS HERE
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_TIME_MIN=

# YOUR REFRESH TOKEN DETAILS HERE
JWT_REFRESH_TOKEN_SECERT=
JWT_REFRESH_TOKEN_EXPIRATION_TIME_DAY=

# YOUR CLOUDINAY TOKEN DETAILS HERE
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=